body {
	background: #ef32d9;
	background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
	background: linear-gradient(to right, #89fffd, #ef32d9);
}

h1 {
	text-align: center;
}

.centerDiv {
	margin: 0 auto;
	width: 100px;
}

.resizeImage {
	width: 200px;
	height: 200px;
}

#mypicdiv {
	position: absolute;
}